<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="screen-orientation" content="portrait">
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <script src="https://unpkg.zhimg.com/vue@next"></script>
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.zhimg.com/element-plus/lib/theme-chalk/index.css">
    <!-- <link rel="preload" as="font" type="font/ttf" href="https://cdn.jsdelivr.net/gh/silentsaber/lovestory@main/css/zhiyong.ttf">
    <link rel="preload" as="font" type="font/ttf" href="https://cdn.jsdelivr.net/gh/silentsaber/lovestory@main/css/muyao.ttf"> -->
    <link rel="stylesheet" href="./css/font.css">
    <link rel="icon" href="ok.ico" type="image/jpg">
    <!-- import JavaScript -->
    <script src="https://unpkg.zhimg.com/element-plus/lib/index.full.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/exif-js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js"></script>
    <title>璨若星河</title>
  </head>
  <body>
    <div id="app" >
    <!-- <router-view> -->
      <el-container style="height:100%;" v-show="loading==false && showfail==false">
        <el-header style="z-index:1;text-align: center; line-height: 60px;background-color: black;overflow: hidden;display: flex;justify-content: center;">
            <div @click="opentimeline()" style="position: fixed;left:0;top:0; width:60px; height:60px; background-color: rgb(58, 58, 58);z-index:1;">
                <i class="el-icon-discover" style="line-height: 60px; color:white; font-size:30px;"></i>
            </div>
            <canvas id="canvas" style="height:160px;position: relative;top:-50px;left:0;"></canvas>
            <div style="color:white;line-height: 22px;width:160px;font-size:18px;text-align: left;font-family: 'muyao';font-weight: bold;
            background: #12c2e9;  
            background: -webkit-linear-gradient(to left, #f64f59, #c471ed, #12c2e9,  #f64f59); 
            background: linear-gradient(to left, #f64f59, #c471ed, #12c2e9,  #f64f59); 
            animation: ran 30s linear infinite;
            -webkit-background-clip: text;
            color: transparent;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            ">
            <!-- 想你入梦 -->
            <!-- Dear Fairy -->
            <span>我们已经相守</span>
            <span>{{curdate}}</span>
            </div>
            
        </el-header>
        
        <el-main style="display: flex;
        flex-flow: column;
        justify-content: center;
        width:100%;
        align-items: center;z-index:2;">
            <!-- <canvas id="c" style="z-index: 0;position: absolute;width:100%;height:calc(100% - 120px);"></canvas> -->
           
            <el-scrollbar style="width:100%;height:100%;background-color: rgba(255,255,255,0.5);display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;z-index:0;">
            <el-image style="width:100%;" :src="data[curpage].img" class="showimg" fit="contain"
            v-if="loading==false"
            :hide-on-click-modal=true
            :preview-src-list="[data[curpage].img]"
            >
            <!-- :style="{transform: 'rotate('+data[curpage].deg+'deg)'}" -->
            
                <template #placeholder>
                    <div class="image-slot" style="width:100%;height:50%;display: flex;justify-content: center;align-items: center;">
                        <svg viewBox="25 25 50 50" class="circular"  style="height: 42px;
                        width: 42px;
                        animation: loading-rotate 2s linear infinite;">
                        <circle cx="50" cy="50" r="20" fill="none" class="path" style="    animation: loading-dash 1.5s ease-in-out infinite;
                        stroke-dasharray: 90,150;
                        stroke-dashoffset: 0;
                        stroke-width: 2;
                        stroke: #409eff;
                        stroke-linecap: round;"></circle>
                        </svg>
                    </div>
                </template>
                <template #error>
                    <div class="image-slot" style="width:100%;height:50%;display: flex;justify-content: center;align-items: center;flex-direction:column;background: #EBEEF5;" @click="reloadeach(curpage)">
                        <i class="el-icon-refresh-right" style="color:#409eff;font-size:60px;"></i>
                        <p style="color:#606266;font-size:12px;">加载失败</p>
                        
                    </div>
                </template>
            </el-image>
            <div style="width:100%;margin:20px 0px;display: flex;justify-content: center;flex-direction: column;">
                <span style="width:100%;text-align: center;font-size:20px;font-weight: bolder;
                font-family: 'zhiyong';
                background-color: #4158D0;
                background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
                -webkit-background-clip: text;
                color: transparent;
                ">{{data[curpage].title}}</span>
                <span style="width:100%;text-align: center;color:#303133;font-size: 10px;margin-top:3px;
                font-family: 'muyao';
                ">{{data[curpage].time}}</span>
            </div>
            
            <div style="width:100%;">
                    <div style="text-indent:2em;padding:0px 10% 10% 10%;
                    font-family: 'muyao';
                    ">{{data[curpage].des}}</div>
            </div>

            </el-scrollbar>
            
        </el-main>
        <el-footer style="text-align: center;z-index:1;padding-top:10px;">
            <el-button style="width:40%;"  @click="pageminus" :disabled="canminus">上一张</el-button>
            <el-button style="width:40%;"  @click="pageadd" :disabled="canadd">下一张</el-button>
        </el-footer>
      </el-container>

      <div class="logall" style="position:fixed;left:0;top:0;width:100%;height: 100%;z-index:2;
      background-color:rgb(247, 239, 241);" 
      v-show="showtimeline">
        <div @click="showtimeline=false;" style="position: fixed;width:100%;height:60px;left:0;top:0;z-index:3;background-color:rgb(233, 111, 146);text-align: center;">
            <i class="el-icon-circle-close" style="line-height: 60px;color:white;font-size: 40px;"></i>
        </div>
        <el-scrollbar style="position: relative; top:60px; height:calc(100vh - 60px);overflow-x: hidden;width:100%;" class="scroll_right">
            <el-timeline style="left:calc(50% - 46px);position: relative;padding-top: 20px;">
                <el-timeline-item v-for="(one, index) in data"
                :timestamp="one.time"
                placement="top"
                :color="one.color"
                :class="index%2==0?'showr':'showl'"
                :id = "'idx'+index"
                >
                  <el-card  @click="data[curpage].color=negtivatecol;curpage=index;pageupdate();data[curpage].color=activatecol;showtimeline=false;"
                  :style="{borderColor: one.color, boxShadow: '0 2px 12px 0 '+(one.color), }"
                  :body-style="{ padding: '0px',display: 'flex',
                  justifyContent: 'center',
                  flexDirection: 'column',
                  alignItems: 'center', 
                  color: (curpage==index ? one.color: 'black' ),
                  }">
                    <b style="padding:5px 0;">{{one.title}}</b>
                    <el-divider style="margin:0;"></el-divider>
                    <p style="padding: 0 10px;">{{one.sig}}</p>
                  </el-card>
                </el-timeline-item>
                <el-timeline-item :color="negtivatecol">
                  <div style="visibility: hidden;">1</div>
                </el-timeline-item>       
            </el-timeline>
            <div style="text-align: center;padding-bottom:20px;font-family:'zhiyong';font-size:22px;">
                <span class="letter" style="animation-delay: 0s;">我</span>
                <span class="letter" style="animation-delay: 0.1s;">们</span>
                <span class="letter" style="animation-delay: 0.2s;">仍</span>
                <span class="letter" style="animation-delay: 0.3s;">在</span>
                <span class="letter" style="animation-delay: 0.4s;">路</span>
                <span class="letter" style="animation-delay: 0.5s;">上</span>
                <span class="letter" style="animation-delay: 0.6s;">.</span>
                <span class="letter" style="animation-delay: 0.7s;">.</span>
                <span class="letter" style="animation-delay: 0.8s;">.</span>
                <!-- 我们仍在路上... -->
            </div>
        </el-scrollbar>
      </div>

      <div class="startback" style="width:100%;height:100%;display: flex;flex-direction: column;justify-content: center;align-items: center;" v-show="loading==true && showfail==false && loadfinished==false">
        <el-progress type="circle" :percentage="loadper" color="#F56C6C" >
            <template #default="{ percentage }">
                <span style="color:white;font-size:20px;">{{ percentage }}%</span>
            </template>
        </el-progress>            
        <p style="font-size:20px;color:white;">loading...</p>
      </div>

      <div class="startback" style="width:100%;height:100%;display: flex;flex-direction: column;justify-content: center;align-items: center;" v-show="loadfinished==true && loading==true">
        <p style="font-family: 'muyao'; font-size:30px;text-align:center;color: white;text-shadow: 0px 0px 20px white;">
            今天是<br/><span class="dateinfox">{{dateinfo.year}}</span>年<span class="dateinfox">{{dateinfo.month}}</span>月<span class="dateinfox">{{dateinfo.day}}</span>日<br/>农历<span class="dateinfox">{{dateinfo.lMonth}}</span>月<span class="dateinfox">{{dateinfo.lDate}}</span></p>
        <p v-if="dateinfo.hasOwnProperty('value') && dateinfo.value != '' " style="font-family: 'muyao'; font-size:22px;color:rgb(250,250,250);    text-shadow: white 0px 0px 60px;">
            今天也是<span style="background-color: #FBDA61;
            background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);-webkit-background-clip: text;
            color: transparent;
            font-size:40px;
            ">{{dateinfo.value}}</span>哦!</p>
        <p v-else-if="dateinfo.hasOwnProperty('term') && dateinfo.term != '' " style="font-family: 'muyao'; font-size:22px;color:rgb(250,250,250);    text-shadow: white 0px 0px 60px;">
            今天也是<span style="background-color: #FBDA61;
            background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);-webkit-background-clip: text;
            color: transparent;
            font-size:40px;
            ">{{dateinfo.term}}</span>哦!</p>
        <p v-else-if="dateinfo.hasOwnProperty('desc') && dateinfo.desc != '' " style="font-family: 'muyao'; font-size:22px;color:rgb(250,250,250);    text-shadow: white 0px 0px 60px;">
            今天也是<span style="background-color: #FBDA61;
            background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);-webkit-background-clip: text;
            color: transparent;
            font-size:40px;
            ">{{dateinfo.desc}}</span>哦!</p>
        <el-button @click="clickbtn()" style="width:50%;background-color: #FBDA61;
            background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);
            color: white;
            border-color: rgb(251,218,97);               
        " >开始浏览</el-button>
      </div>



      <div class="startback" style="width:100%;height:100%;display: flex;flex-direction: column;justify-content: center;align-items: center;" v-show="showfail==true" @click="refresh">
        <i class="el-icon-refresh-right" style="color:#409eff;font-size:60px;"></i>      
        <span style="font-size:16px;color:#606266;margin-top:10px;">网络状况不佳</span>
        <span style="font-size:16px;color:#606266;margin-top:5px;">请重新加载</span>
      </div>
    <!-- </router-view> -->

    <div id="stars" v-show="loading != false">
    </div>


    </div>
    <script>
        window.onload = function () {
            document.onkeydown = function () {
                var e = window.event || arguments[0];
                //屏蔽F12
                if (e.keyCode == 123) {
        
                    return false;
                    //屏蔽Ctrl+Shift+I
                } else if ((e.ctrlKey) && (e.shiftKey) && (e.keyCode == 73)) {
        
                    return false;
                    //屏蔽Shift+F10
                } else if ((e.shiftKey) && (e.keyCode == 121)) {
                    return false;
                }
            };
            //屏蔽右键单击
            document.oncontextmenu = function () {
                return false;
            }
        }
        
    

      const App = {
        data() {
          return {
            dateinfo:{
                'year':'xxxx',
                'month':'xx',
                'day':'xx',
                'lMonth':'x',
                'lDate':'xx',
            },
            curdate:null,
            loadfinished:false,
            loading:true,
            curpage:0,
            negtivatecol:'#E4E7ED',
            activatecol:'rgb(233, 111, 146)',
            showtimeline:false,
            totalpage:11,
            canminus:true,
            canadd:false,
            reload:false,
            showfail:false,
            dir:'https://cdn.jsdelivr.net/gh/silentsaber/lovestory@main/photos/',
            // dir:'./photo/',
            loadcnt:0,
            errorcnt:0,
            loadper:0,
            data:[
            {
             'img':'1.jpg',
             'title':'校马十公里',
             'time':'2021/04/10',
             'des':'在某人的鼓励下，我们一同跑完了10km。虽然由于岔气，未曾拥有一个很好的体验，不过所幸最终还是完成了比赛。',   
             'sig':null,
            },
            {
             'img':'2.jpg',
             'title':'泰山顶峰',
             'time':'2021/04/16',
             'des':'会当凌绝顶，一览众山小。前一日登上泰山顶峰，凌晨四点共观绝美日出。下山途中，心潮澎湃，一点点雾霾也无妨。可惜恐高，未能从缆车上欣赏泰山的巍峨之姿。',   
            },
            {
             'img':'3.jpg',
             'title':'西山小道',
             'time':'2021/04/30',
             'des':'五一假期首日，雁栖湖畔，西山步道。正值雨霁，微风阵阵,更使心旷神怡。斯人如在侧，晴雨皆风景。',   
            },
            {
             'img':'4.jpg',
             'title':'正装毕业照',
             'time':'2021/06/17',
             'des':'拍完年级和班级合照后，在罗姆楼正门外拍摄。此时的表情还有一丝丝僵硬和拘谨，或许是过于青涩？',   
            },
            {
             'img':'5.jpg',
             'title':'学士服单人照',
             'time':'2021/06/26',
             'des':'晨起着学士服约拍。明媚的日光与青翠欲滴的枝叶交融，更显青春朝气。',   
            },
            {
             'img':'6.jpg',
             'title':'学士服合照',
             'time':'2021/06/26',
             'des':'愿不负韶华，愿未来可期。',   
            },
            {
             'img':'7.png',
             'title':'红毯合照',
             'time':'2021/06/26',
             'des':'晚餐前到红毯处留下纪念。在背后的签名墙上，也写下了彼此的姓名。',   
            },
            {
             'img':'8.jpg',
             'title':'灵山岛背来石',
             'time':'2021/07/01',
             'des':'海风与海浪交织着，如梦呓呢喃。远离城市喧嚣，仔细感受海岛的宁静。',   
            },
            {
             'img':'9.jpg',
             'title':'灵山岛初心客栈',
             'time':'2021/07/01',
             'des':'夜晚的海风静静吹着，两个人尝试解锁相机在夜晚的功能。此处应有某人一系列的表情包。',   
            },
            {
             'img':'10.jpg',
             'title':'灵山岛灯塔之下',
             'time':'2021/07/02',
             'des':'灯塔之下，岸边礁石处，不仅能望见海天相接，更能拥抱大海。水天一色，古人诚不欺也。是日并无日出美景，甚为可惜。',   
            },
            {
             'img':'11.jpg',
             'title':'熊猫繁育基地',
             'time':'2021/07/04',
             'des':'love pandas!',   
            },
            ]
          };
        },
        methods:{
            clickbtn()
            {
                this.loading = false;
                this.showlove();
            },
            showlove()
            {
                // window.onload = () => 
                // {
                    var canvas = document.getElementById("canvas");

                    canvas.width = window.innerWidth;
                    canvas.height = window.innerHeight;

                    // Initialize the GL context
                    var gl = canvas.getContext('webgl');
                    // gl.clearColor(1.0, 1.0, 0.6, 1.0);
                    if(!gl){
                    console.error("Unable to initialize WebGL.");
                    }

                    //Time
                    var time = 0.0;

                    //************** Shader sources **************

                    var vertexSource = `
                    attribute vec2 position;
                    void main() {
                        gl_Position = vec4(position, 0.0, 1.0);
                    }
                    `;

                    var fragmentSource = `
                    precision highp float;

                    uniform float width;
                    uniform float height;
                    vec2 resolution = vec2(width, height);

                    uniform float time;

                    #define POINT_COUNT 8

                    vec2 points[POINT_COUNT];
                    const float speed = -0.5;
                    const float len = 0.25;
                    float intensity = 1.3;
                    float radius = 0.008;

                    //https://www.shadertoy.com/view/MlKcDD
                    //Signed distance to a quadratic bezier
                    float sdBezier(vec2 pos, vec2 A, vec2 B, vec2 C){    
                        vec2 a = B - A;
                        vec2 b = A - 2.0*B + C;
                        vec2 c = a * 2.0;
                        vec2 d = A - pos;

                        float kk = 1.0 / dot(b,b);
                        float kx = kk * dot(a,b);
                        float ky = kk * (2.0*dot(a,a)+dot(d,b)) / 3.0;
                        float kz = kk * dot(d,a);      

                        float res = 0.0;

                        float p = ky - kx*kx;
                        float p3 = p*p*p;
                        float q = kx*(2.0*kx*kx - 3.0*ky) + kz;
                        float h = q*q + 4.0*p3;

                        if(h >= 0.0){ 
                            h = sqrt(h);
                            vec2 x = (vec2(h, -h) - q) / 2.0;
                            vec2 uv = sign(x)*pow(abs(x), vec2(1.0/3.0));
                            float t = uv.x + uv.y - kx;
                            t = clamp( t, 0.0, 1.0 );

                            // 1 root
                            vec2 qos = d + (c + b*t)*t;
                            res = length(qos);
                        }else{
                            float z = sqrt(-p);
                            float v = acos( q/(p*z*2.0) ) / 3.0;
                            float m = cos(v);
                            float n = sin(v)*1.732050808;
                            vec3 t = vec3(m + m, -n - m, n - m) * z - kx;
                            t = clamp( t, 0.0, 1.0 );

                            // 3 roots
                            vec2 qos = d + (c + b*t.x)*t.x;
                            float dis = dot(qos,qos);
                            
                            res = dis;

                            qos = d + (c + b*t.y)*t.y;
                            dis = dot(qos,qos);
                            res = min(res,dis);
                            
                            qos = d + (c + b*t.z)*t.z;
                            dis = dot(qos,qos);
                            res = min(res,dis);

                            res = sqrt( res );
                        }
                        
                        return res;
                    }


                    //http://mathworld.wolfram.com/HeartCurve.html
                    vec2 getHeartPosition(float t){
                        return vec2(16.0 * sin(t) * sin(t) * sin(t),
                                                -(13.0 * cos(t) - 5.0 * cos(2.0*t)
                                                - 2.0 * cos(3.0*t) - cos(4.0*t)));
                    }

                    //https://www.shadertoy.com/view/3s3GDn
                    float getGlow(float dist, float radius, float intensity){
                        return pow(radius/dist, intensity);
                    }

                    float getSegment(float t, vec2 pos, float offset, float scale){
                        for(int i = 0; i < POINT_COUNT; i++){
                            points[i] = getHeartPosition(offset + float(i)*len + fract(speed * t) * 6.28);
                        }
                        
                        vec2 c = (points[0] + points[1]) / 2.0;
                        vec2 c_prev;
                        float dist = 10000.0;
                        
                        for(int i = 0; i < POINT_COUNT-1; i++){
                            //https://tinyurl.com/y2htbwkm
                            c_prev = c;
                            c = (points[i] + points[i+1]) / 2.0;
                            dist = min(dist, sdBezier(pos, scale * c_prev, scale * points[i], scale * c));
                        }
                        return max(0.0, dist);
                    }

                    void main(){
                        vec2 uv = gl_FragCoord.xy/resolution.xy;
                        float widthHeightRatio = resolution.x/resolution.y;
                        vec2 centre = vec2(0.5, 0.5);
                        vec2 pos = centre - uv;
                        pos.y /= widthHeightRatio;
                        //Shift upwards to centre heart
                        pos.y += 0.02;
                        float scale = 0.000015 * height;
                        
                        float t = time;
                        
                        //Get first segment
                    float dist = getSegment(t, pos, 0.0, scale);
                    float glow = getGlow(dist, radius, intensity);
                    
                    vec3 col = vec3(0.0);

                        //White core
                    col += 10.0*vec3(smoothstep(0.003, 0.001, dist));
                    //Pink glow
                    col += glow * vec3(1.0,0.05,0.3);
                    
                    //Get second segment
                    dist = getSegment(t, pos, 3.4, scale);
                    glow = getGlow(dist, radius, intensity);
                    
                    //White core
                    col += 10.0*vec3(smoothstep(0.003, 0.001, dist));
                    //Blue glow
                    col += glow * vec3(0.1,0.4,1.0);
                            
                        //Tone mapping
                        col = 1.0 - exp(-col);

                        //Gamma
                        col = pow(col, vec3(0.4545));

                        //Output to screen
                        gl_FragColor = vec4(col,1.0);
                    }
                    `;

                    //************** Utility functions **************

                    window.addEventListener('resize', onWindowResize, false);

                    function onWindowResize(){
                    canvas.width  = window.innerWidth;
                    canvas.height = window.innerHeight;
                        gl.viewport(0, 0, canvas.width, canvas.height);
                    gl.uniform1f(widthHandle, window.innerWidth);
                    gl.uniform1f(heightHandle, window.innerHeight);
                    }


                    //Compile shader and combine with source
                    function compileShader(shaderSource, shaderType){
                    var shader = gl.createShader(shaderType);
                    gl.shaderSource(shader, shaderSource);
                    gl.compileShader(shader);
                    if(!gl.getShaderParameter(shader, gl.COMPILE_STATUS)){
                        throw "Shader compile failed with: " + gl.getShaderInfoLog(shader);
                    }
                    return shader;
                    }

                    //From https://codepen.io/jlfwong/pen/GqmroZ
                    //Utility to complain loudly if we fail to find the attribute/uniform
                    function getAttribLocation(program, name) {
                    var attributeLocation = gl.getAttribLocation(program, name);
                    if (attributeLocation === -1) {
                        throw 'Cannot find attribute ' + name + '.';
                    }
                    return attributeLocation;
                    }

                    function getUniformLocation(program, name) {
                    var attributeLocation = gl.getUniformLocation(program, name);
                    if (attributeLocation === -1) {
                        throw 'Cannot find uniform ' + name + '.';
                    }
                    return attributeLocation;
                    }

                    //************** Create shaders **************

                    //Create vertex and fragment shaders
                    var vertexShader = compileShader(vertexSource, gl.VERTEX_SHADER);
                    var fragmentShader = compileShader(fragmentSource, gl.FRAGMENT_SHADER);

                    //Create shader programs
                    var program = gl.createProgram();
                    gl.attachShader(program, vertexShader);
                    gl.attachShader(program, fragmentShader);
                    gl.linkProgram(program);

                    gl.useProgram(program);

                    //Set up rectangle covering entire canvas 
                    var vertexData = new Float32Array([
                    -1.0,  1.0, 	// top left
                    -1.0, -1.0, 	// bottom left
                    1.0,  1.0, 	// top right
                    1.0, -1.0, 	// bottom right
                    ]);

                    //Create vertex buffer
                    var vertexDataBuffer = gl.createBuffer();
                    gl.bindBuffer(gl.ARRAY_BUFFER, vertexDataBuffer);
                    gl.bufferData(gl.ARRAY_BUFFER, vertexData, gl.STATIC_DRAW);

                    // Layout of our data in the vertex buffer
                    var positionHandle = getAttribLocation(program, 'position');

                    gl.enableVertexAttribArray(positionHandle);
                    gl.vertexAttribPointer(positionHandle,
                    2, 				// position is a vec2 (2 values per component)
                    gl.FLOAT, // each component is a float
                    false, 		// don't normalize values
                    2 * 4, 		// two 4 byte float components per vertex (32 bit float is 4 bytes)
                    0 				// how many bytes inside the buffer to start from
                    );

                    //Set uniform handle
                    var timeHandle = getUniformLocation(program, 'time');
                    var widthHandle = getUniformLocation(program, 'width');
                    var heightHandle = getUniformLocation(program, 'height');

                    gl.uniform1f(widthHandle, window.innerWidth);
                    gl.uniform1f(heightHandle, window.innerHeight);

                    var lastFrame = Date.now();
                    var thisFrame;

                    function draw(){
                        
                    //Update time
                        thisFrame = Date.now();
                    time += (thisFrame - lastFrame)/1000;	
                        lastFrame = thisFrame;

                        
                        // console.log("dele")
                        // gl.clearColor(1.0, 1.0, 1.0, 1.0);
                        // gl.clear(gl.COLOR_BUFFER_EIT);
                        //Send uniforms to program
                    gl.uniform1f(timeHandle, time);
                    //Draw a triangle strip connecting vertices 0-4
                    gl.drawArrays(gl.TRIANGLE_STRIP, 0, 4);

                        // console.log("yep")

                    requestAnimationFrame(draw);
                    }

                    draw();
                // }
            },
            sigeach(i)
            {
                if(this.data[i].des.length>12)
                {
                    this.data[i].sig=this.data[i].des.slice(0,12)+'...'
                }
                else this.data[i].sig=this.data[i].des;
                
            },
            preloadeach(i) //单张图片预加载
            {
                this.sigeach(i);
                let image = new Image()
                image.src = this.dir+this.data[i].img;
            
                image.onload = ()=>{
                    this.loadcnt++;
                    this.loadper = Math.floor(this.loadcnt / this.totalpage * 100);
                    this.data[i].img = image.src;
                    // this.data[i].img='1.jpg'
                    if(this.loadcnt==this.totalpage)
                    {
                        
                        // this.loading=false;
                        this.loadfinished = true;
                        // this.showlove();
                    }
                }
                image.onerror = ()=>
                {
                    this.loadcnt++;
                    this.errorcnt++;
                    this.loadper = Math.floor(this.loadcnt / this.totalpage * 100);
                    this.data[i].img = image.src;
                    if(this.loadcnt==this.totalpage)
                    {
                        if(this.errorcnt >= Math.ceil(this.totalpage/2)) //未能加载的图片超过半数，则显示无法加载
                        {
                            this.showfail=true;
                            return ;
                        }
                        // this.loading=false;
                        this.loadfinished = true;
                        // this.showlove();
                    }
                }
            },
            refresh()
            {
                location.reload();
            },
            reloadeach(i) //单张图片重新加载
            {
                if(this.reload==true)return ;
                this.reload = true;
                let image=new Image();
                image.src=this.data[i].img+"?t="+new Date().getTime();
                image.onload = ()=>
                {
                    this.data[i].img = image.src;
                    this.reload = false;
                }
                image.onerror = ()=>{
                    this.reload = false;
                }

            },
            preload()
            {
                for(let i=0;i<this.data.length;i++)
                {
                    this.preloadeach(i); 
                }
            },
            pageupdate()
            {
                if(this.curpage<=0)this.canminus=true;
                else this.canminus=false;
                if(this.curpage>=this.totalpage-1)this.canadd=true;
                else this.canadd=false;
            },
            pageminus()
            {
                if(this.curpage>0)
                {
                    this.data[this.curpage].color=this.negtivatecol;
                    this.curpage--;
                    this.data[this.curpage].color=this.activatecol;
                }
                this.pageupdate();
            },
            pageadd()
            {
                if(this.curpage<this.totalpage-1)
                {
                    this.data[this.curpage].color=this.negtivatecol;
                    this.curpage++;
                    this.data[this.curpage].color=this.activatecol;
                }
                this.pageupdate();
            },
            timecom()
            {
                var lasttime =new Date(2021,5,20,0,0,0);
                var curtime = new Date();
                let destime = curtime.getTime()-lasttime.getTime();
                let d = Math.floor(destime / (24 * 3600 * 1000));
                destime = destime % (24 * 3600 * 1000);
                let h = Math.floor(destime / (3600 * 1000));
                destime = destime % (3600 * 1000);
                let m = Math.floor(destime / (60 * 1000));
                destime = destime % (60 * 1000);
                let s = Math.round(destime / 1000);
                
                this.curdate = d+'天'+(h+'').padStart(2, '0')+'时'+(m+'').padStart(2, '0')+'分'+(s+'').padStart(2, '0')+'秒'
            },
            datecom()
            {
                this.timecom();
                setInterval(()=>
                {
                    this.timecom();
                },1000);
            },
            init()
            {
                this.curpage=0;             
                for(let i=0;i<this.data.length;i++)
                {
                    if(i==this.curpage)
                    {
                        this.data[i].color=this.activatecol;
                    }
                    else this.data[i].color=this.negtivatecol;
                }
            },
            opentimeline()
            {
                this.showtimeline=true;
                this.$nextTick(() => {
                    document.querySelector(`#idx${this.curpage}`).scrollIntoView({
                    behavior: "smooth",  // 平滑过渡
                    block:    "start"  // 上边框与视窗顶部平齐。默认值
                    })
                })
            },

            dateget()
            {
                
                // const readBlobAsText = (blob, encoding) => {
                //     return new Promise((resolve, reject) => {
                //         const fr = new FileReader();
                //         fr.onload = event => {
                //             resolve(fr.result);
                //         };
                //         fr.onerror = err => {
                //             reject(err);
                //         };
                //         fr.readAsText(blob, encoding);
                //     });
                // };

                $.getJSON("https://opendata.baidu.com/api.php?tn=wisetpl&format=json&resource_id=39043&query="+new Date().getFullYear()+"年"+(new Date().getMonth()+1)+"月&cb=?", data=> {
                    
                    // console.log(data)
                    let dates = data.data[0].almanac;
                    let curdate = new Date();
                    let year = curdate.getFullYear();
                    let month = curdate.getMonth()+1;
                    let day = curdate.getDate();
                    for(let i=0;i<dates.length;i++)
                    {
                        if(dates[i].year==year&&dates[i].month==month&&dates[i].day==day)
                        {
                            // console.log(dates[i])
                            this.dateinfo=dates[i]
                            break;
                        }
                    }
                });

                // fetch("https://opendata.baidu.com/api.php?tn=wisetpl&format=json&resource_id=39043&query=2021年8月&cb=jsonp_1628165929726_23992", {
                //     body: null,
                //     method: "GET",
                //     headers: { "Access-Control-Allow-Origin": "*"},
                //     mode:'no-cors',
                // }).then(res => {
                //     console.log(res);
                //     const contentType = res.headers.get('content-type');
                //     console.log(contentType)
                //     if (contentType !== null) {
                //         if (/(^|;)application\/json($|;)/i.test(contentType)) {
                //             const charsetMatches = contentType.match(/(^|;)charset=([^;]+)($|;)/i);
                //             if (charsetMatches && charsetMatches.length && charsetMatches[2]) {
                //                 const charset = charsetMatches[2];
                //                 return res.blob().then(blob => readBlobAsText(blob, charset)).then(JSON.parse);
                //             } else {
                //                 return res.json();
                //             }
                //         }
                //     }
                // }).then(data => {
                //     console.log(data);
                //     let dates = data.data[0].almanac;
                //     let curdate = new Date();
                //     let year = curdate.getFullYear();
                //     let month = curdate.getMonth()+1;
                //     let day = curdate.getDate();
                //     for(let i=0;i<dates.length;i++)
                //     {
                //         if(dates[i].year==year&&dates[i].month==month&&dates[i].day==day)
                //         {
                //             console.log(dates[i])
                //             this.dateinfo=dates[i]
                //             break;
                //         }
                //     }

                // })

            }
        },
        created:function()
        {
            this.dateget();
            this.preload();
            this.datecom();
            this.init();
        },
        mounted:function()
        {
            let starsCount = 800; //星星数量
            let distance = 800;//间距
            let parentStarts = document.getElementById("stars");
            for (let i = 0; i < starsCount; i++) {
                let childStart = document.createElement("div");
                childStart.setAttribute("class", 'star');
                parentStarts.appendChild(childStart);
            }
            for (let i = 0; i < starsCount; i++) {
                let item = parentStarts.children[i];
                let speed = 0.2 + (Math.random() * 1);
                let thisDistance = distance + (Math.random() * 300);
                // console.log(parentStarts);
                item.style.transformOrigin = "0 0 " + thisDistance + "px";
                item.style.transform = "translate3d(0,0,-" + thisDistance + "px) rotateY(" + (Math.random() * 360) + "deg) rotateX(" + (Math.random() * -50) + "deg) scale(" + speed + "," + speed + ")";
            }
        }
    };
      const app = Vue.createApp(App);
      app.use(ElementPlus);
      app.mount("#app");
    </script>
  </body>
</html>


<style>
html,body
{
    height:100%;
    width:100%;
    padding: 0;
    margin: 0;
}
#app
{
    height: 100vh;
    width:100%;
    background-color: rgb(248, 232, 236);
    /* #F2F6FC; */
}
.startback
{
    background: radial-gradient(200% 100% at bottom center, #f7f7b6, #e96f92, #1b2947);
    background: radial-gradient(220% 105% at top center, #1b2947 10%, #75517d 40%, #e96f92 65%, #f7f7b6);
    background-attachment: fixed;
}
.el-main
{
    padding: 10px;
}
.el-main .el-scrollbar__wrap
{
    width:100%;
}
.el-footer .el-button
{
    /* background-color: rgb(251, 218, 97);
    background-image: linear-gradient(180deg, rgb(251, 218, 97) 0%, rgb(255, 90, 205) 90%);
     */
    background-color: #FF9A8B;
    background-image: linear-gradient(0deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);

    color: white;
}
.el-footer .el-button.is-disabled
{
    background: #303133;
    color: #C0C4CC;
}
.showimg .el-image__error, .showimg .el-image__inner, .showimg .el-image__placeholder
{
    height:auto;
}
.showimg img
{
    /* image-orientation: from-image; */
}
.logall .el-timeline-item
{
  width: 50%;
}
.showl .el-timeline-item__wrapper
{
  position: relative;
  left:calc(-100% - 22px);
}
.showr .el-timeline-item__wrapper
{
  position: relative;
}
.logall .el-scrollbar__view
{
    position: relative;
}
.logall .el-scrollbar__wrap{
	overflow-x: hidden;
}
.logall .el-scrollbar__bar.is-horizontal {
	display: none;
}
.letter
{
    display: inline-block;
    animation: bounce 1s cubic-bezier(0.05, 0, 0.2, 1) infinite alternate;
}
.dateinfox
{
    /* color:dodgerblue; */
    color: hotpink;
    text-shadow: 2px 2px 2px pink;
}

@keyframes rotate {
    0% {
        transform: perspective(400px) rotateZ(20deg) rotateX(-40deg) rotateY(0);
    }

    100% {
        transform: perspective(400px) rotateZ(20deg) rotateX(-40deg) rotateY(-360deg);
    }
}

#stars {
    transform: perspective(500px);
    transform-style: preserve-3d;
    position: fixed;
    perspective-origin: 50% 100%;
    left: 50%;
    animation: rotate 66s infinite linear;
    bottom: 0;
}
.star {
    width: 2px;
    height: 2px;
    background: #f7f7b8;
    position: fixed;
    top: 0px;
    left: 0;
    backface-visibility: hidden;
}

@keyframes bounce{
    0% {
    transform: translate3d(0, 0, 0);
    text-shadow: rgb(255 255 255 / 40%) 0 0 0.05em;
    }
    100% {
    transform: translate3d(0, -1em, 0);
    text-shadow: rgb(255 255 255 / 40%) 0 1em 0.35em;
    }
}

@keyframes ran {
    from {
        backgroud-position: 0 0;
    }
    to {
        background-position: 2000px 0;
    }
}
@media (min-width: 420px) {
    #canvas
    {
        top:0 !important;
        height:60px !important;
    }
}
</style>
